@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Verdana";
  src: url("/fonts/Verdana.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: url("/fonts/Verdana Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: url("/fonts/Verdana Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Verdana";
  src: url("/fonts/Verdana Bold Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Verdana", sans-serif;
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: #c1c1c1 #f1f1f1;
  background-color: #d9d9d9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @apply text-h1 font-bold;
}
h2 {
  @apply text-h2 font-bold;
}
h3 {
  @apply text-h3 font-semibold;
}
h4 {
  @apply text-h4 font-semibold;
}
h5 {
  @apply text-h5 font-medium;
}
h6 {
  @apply text-h6 font-medium;
}

.twitter-timeline > iframe {
  width: 100% !important;
}
